<!doctype html>
<html>
  <head>
    <title>Play-MacWire Starterkit</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/index.css")" />
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/index.js")"></script>
  </head>
  <body>
    <!-- Just a kidding, as you know. -->
    <div id="hello">Hello(implicit world: string)!!!</div>
  </body>
</html>
